{% extends "base.html" %}
{% load static %}

{% block css_files %}
<link rel="stylesheet" href="{% static 'blog/css/post.css' %}">
<link rel="stylesheet" href="{% static 'blog/css/index.css' %}">
{% endblock %}

{% block title %} {{author.user.get_full_name}} Blog {% endblock %}

{% block content %}
<section id="welcome">
    <header>
        <img src="{% static 'blog/images/My_image.PNG' %}" alt="Hazem - The Author of this Blog">
        <h2>{{author.user.first_name|upper}}'S BLOG</h2>
    </header>
    <p>{{author.bio}}</p>
</section>

<section id="latest-posts">
    <h2>My latest Thoughts</h2>
    <ul>
        {% for post in posts %}
        {% include 'blog/includes/post.html' %}
        {% endfor %}
    </ul>
</section>

<section id="about">
    <div class="about-section">
        <h2>About Me</h2>
        <p class="about-text">{{ author.about|linebreaks }}</p>
        <h2>What I Do</h2>
        <p class="about-text">{{ author.what_i_do|linebreaks }}</p>
    </div>
</section>
{% endblock %}